spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/eventoradb
    username: postgres
    password: Admin@123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc.lob.non_contextual_creation: true
        format_sql: true
        use_sql_comments: true
    show-sql: true

  sql:
    init:
      platform: postgresql

server:
  port: 8080
